{# <div class="col-md-12 text-right">
    <a href="{{ path('app_myTresorerie_referentiel_type_compte_add') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> TYPE COMPTE</button></a>
</div> #}

{% if typesCompte|length > 0 %}
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
        <thead>
            <tr>
                <th>Types de Compte</th>
                <th class="col-md-1 text-center">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for typeCompte in typesCompte %}
                <tr>
                    <td>{{ typeCompte.nom }}</td>
                    <td class="actions text-center">
                        <a href="{{ path('app_myTresorerie_referentiel_type_compte_edit', { 'id' : typeCompte.id }) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-success">
        Aucun type de Compte n'a été enregistré pour le moment.
    </div>
{% endif %}