{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}TRESORERIE{% endblock %}

{% block css_header %}{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">PARAMETRAGE DES REFERENTIELS</h2>
        </header>
        <div class="panel-body">
            {% for flashError in app.flashes('successMSG') %}
                <div class="alert alert-success" role="alert">{{ flashError }}</div>
            {% endfor %}
            {% for flashError in app.flashes('errorMSG') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div class="tabs tabs-vertical tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#banques" data-toggle="tab"><i class="fa fa-bank"></i> Banques/Comptes</a>
                    </li>  
                    <li>
                        <a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i> Categories</a>
                    </li>
                    <li>
                        <a href="#typeCompte" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Types de compte</a>
                    </li>
                    <li>
                        <a href="#modePaiement" data-toggle="tab"><i class="fa fa-credit-card"></i> Modes de Paiement</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="banques" class="tab-pane active">
                        <p>{% include 'default/backend/myTresorerie/referentiel_banques.html.twig' %}</p>
                    </div>
                    <div id="categories" class="tab-pane">
                        <p>{% include 'default/backend/myTresorerie/referentiel_categories.html.twig' %}</p>
                    </div>
                    <div id="typeCompte" class="tab-pane">
                        <p>{% include 'default/backend/myTresorerie/referentiel_typeCompte.html.twig' %}</p>
                    </div>
                    <div id="modePaiement" class="tab-pane">
                        <p>{% include 'default/backend/myTresorerie/referentiel_modePaiement.html.twig' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_script %}
    <script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
{% endblock %}