{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}TRESORERIE{% endblock %}

{% block css_header %}{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">[BANQUE] Libellé compte</h2>
            <p class="panel-subtitle">TITULAIRE : </p>
            <div class="panel-actions">
               <a href="{{ path('app_myTresorerie_index') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-warning"><i class="fa fa-rotate-left" aria-hidden="true"></i> RETOUR</button></a>
                
            </div>
        </header>
        <div class="panel-body">
            <div class="col-md-9">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#operations" data-toggle="tab"><i class="fa fa-spinner"></i> Operations non rapprochées</a>
                        </li>
                        <li>
                            <a href="#echeances" data-toggle="tab"><i class="fa fa-tachometer"></i> Echéances du mois</a>
                        </li>
                        <li>
                            <a href="#releves" data-toggle="tab"><i class="fa fa-tasks"></i> Relevé de comptes</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="operations" class="tab-pane active">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Tiers</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Montant</th>
                                            <th class="text-center">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">01/05</td>
                                            <td class="text-center">Bouygues Telecom</td>
                                            <td class="text-center">Abonnement Cédric</td>
                                            <td class="text-right">5 €</td>
                                            <td class="text-center">
                                                <a href=""><i class="fa fa-pencil"></i></a>
                                                <a href=""><i class="fa fa-check-square"></i></a>
                                                <a href=""><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="echeances" class="tab-pane">
                            
                        </div>
                        <div id="releves" class="tab-pane">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">  
                <a href="{{ path('app_myTresorerie_operation') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-credit-card" aria-hidden="true"></i> OPERATION</button></a>    
                <a href="{{ path('app_myTresorerie_virement') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-refresh" aria-hidden="true"></i> VIREMENT</button></a>
                <a href="{{ path('app_myTresorerie_retrait') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-money" aria-hidden="true"></i> RETRAIT</button></a>
            </div>
        </div>
    </section>
    {% block footer_Script %}{% endblock %}
{% endblock %}